<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body style="height: 85vh; display: flex; flex-direction: column; width: min(500px, 80%)">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div style="overflow: scroll; margin-bottom: 24px">
      <% messages.forEach(msg => { %> User: <%-msg.user %>
      <br />
      Message: <%-msg.text %>
      <br />
      Added in: <%-msg.added %>
      <br /><br /><br />
      <% }) %>
      <a href="/new">Add a message</a>
    </div>
  </body>
</html>
